@media screen and (max-width: 1024px) and (min-width: 769px) {
    body {
        overflow-x: hidden;
    }
    /* || typography */
    a, p {
        font-size: 12px;
    }

    h2 {
        font-size: 25px;
    }

    span {
        font-size: 15px;
    }

    p.card__balance > span {
        font-size: 15px;
    }

    /* || aside */
    .section__aside {
        max-width: 230px;
        width: 225px;
    }
    
    /* || cards and transactions */
    .cards__content--transform {
        width: 200px;
    }

    .cards__content {
        padding-top: 5px;
    }

    .cards__content > span {
        font-size: 15px;
    }

    .card-size {
        width: 235px;
        height: 170px;
    }

    .size-1190 {
        max-width: 793px;
        width: 793px;
    }

    .article__cards {
        gap: 10px;
        margin-left: 0px;
    }

    .article__transactions img {
        width: 40px;
    }

    .transaction__content > p > span {
        font-size: 12px;
    }

    .transaction__content > span {
        margin-left: 0px;
    }

    .transaction__content p {
        width: 95px;
        margin-left: -15px;
    }

    /* || weekly activity and exp statistics */
    .weeklyActivity__content > img {
        width: 487px;
        height: 261px;
    }

    .expStatistics__content > img {
        width: 231px;
        height: 261px;
    }
    /* quick transfer and balance history */
    .quickTransfer__persons img {
        width: 60px;
        height: 93px;
    }

    .quickTransfer__persons > button {
        width: 70px;
        height: 93px;
    }

    .quickTransfer__persons {
        gap: 0px;
    }

    .quickTransfer__persons > button:last-child > img {
        margin-top: -22px;
        margin-left: -15px;
        width: 40px;
        height: 40px;
    }

    .quickTransfer__persons button:last-child {
        width: 0px;
    }

    .quickTransfer__persons button:last-child:hover, .quickTransfer__persons button:last-child:focus {
        border: 0px;
        background-color: transparent;
    }

    .article__quickTransfer > h3.card__title {
        position: absolute;
        margin-top: -200px;
    }

    .quickTransfer__payAmount input {
        width: 125px;
        height: 40px;
        padding-left: 15px;
        margin-left: -10px;
    }

    .quickTransfer__payAmount button {
        width: 90px;
        height: 40px;   
        left: -85px;
    }

    .payAmount__value {
        margin-top: 5px;
        width: 75px;
    }

    input::placeholder {
        font-size: 12px;
    }
    
    .BalHistory img {
        width: 423px;
        height: 220px;
        margin-top: -20px;
    }
}