/* || Recent Transactions */

.recentTransaction__list {
    width: 100%;
    gap: 71px;
}

.recentTransaction__list a {
    padding: 0px 11px 10px 11px;
}

.recentTransaction__list a:focus {
    color: #1814F3;
    background: url("../images/bottomblueline.svg") no-repeat bottom center;
}

.recentTransaction__content-list > a {
    color: #718EBF;
}